numpy
pandas
scikit-learn
matplotlib
seaborn
opencv-python
pillow
tensorflow
torch
pytest
qiskit==1.4.2
qiskit-machine-learning
qiskit-ibm-runtime
qiskit_aer
gunicorn
monai
flask
pylatexenc
python-dotenv
